@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 58%;
  margin: 0 auto;
}

.header .header__nav {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #EFEFEF;
}
.header .header__nav .header__nav--list {
  display: flex;
  gap: 30px;
}
.header .header__nav .header__nav--list .header__nav--item .header__nav--link {
  display: block;
  padding: 17px 0;
  text-decoration: none;
  color: #333333;
}
.header .header__item {
  margin-bottom: 20px;
}
.header .header__item:last-child {
  margin-bottom: 0;
}
.header .header__item .container .header__info {
  display: flex;
  justify-content: space-between;
}
.header .header__item .container .header__info .header__info--item {
  display: flex;
  align-items: center;
  font-size: 0;
}
.header .header__item .container .header__info .header__info--item h1 {
  padding-left: 20px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3.5px;
  color: #f13c6e;
}
.header .header__item .container .header__info .header__info--item .header__info--link {
  padding-right: 40px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.header .header__item .container .header__info .header__info--item .header__info--btn {
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #f13c6e;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.header .header__menu {
  display: flex;
  justify-content: center;
  border-top: 1px solid #EFEFEF;
}
.header .header__menu .header__menu--list {
  display: flex;
  gap: 40px;
}
.header .header__menu .header__menu--list .header__menu--item {
  padding: 30px 0;
}
.header .header__menu .header__menu--list .header__menu--item .header__menu--link {
  text-decoration: none;
  color: #000;
}

.beauty .main {
  background-color: #EFEFEF;
}
.beauty .main .main__item .main__hero {
  position: relative;
}
.beauty .main .main__item .main__hero .main__hero--box {
  width: 15%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 21%;
  display: flex;
  flex-direction: column;
}
.beauty .main .main__item .main__hero .main__hero--box h2 {
  font-size: 48px;
  color: #fff;
}
.beauty .main .main__item .main__hero .main__hero--box span {
  padding: 50px 0 30px 0;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.beauty .main .main__item .main__hero .main__hero--box a {
  width: -moz-min-content;
  width: min-content;
  letter-spacing: 0.7px;
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #fff;
  font-size: 14px;
  color: #fff;
  background-color: #f13c6e;
  text-decoration: none;
  cursor: pointer;
}
.beauty .main .container .main__item .main__leader {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.beauty .main .container .main__item .main__leader h2 {
  padding: 80px 0 40px 0;
  font-size: 24px;
  font-weight: 700;
}
.beauty .main .container .main__item .main__leader .main__leader--box-wrap {
  gap: 30px;
  display: flex;
}
.beauty .main .container .main__item .main__leader .main__leader--box-wrap .main__leader--box {
  width: 25%;
  padding: 25px 0;
  gap: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.beauty .main .container .main__item .main__leader .main__leader--box-wrap .main__leader--box img {
  width: 125px;
  height: 165px;
}
.beauty .main .container .main__item .main__leader .main__leader--box-wrap .main__leader--box .main__leader--description {
  padding: 0 30px;
  text-align: center;
  line-height: 20px;
}
.beauty .main .container .main__item .main__leader .main__leader--box-wrap .main__leader--box .main__leader--price {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 2px;
}
.beauty .main .container .main__item .main__leader .main__leader--box-wrap .main__leader--box a {
  letter-spacing: 0.7px;
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #f13c6e;
  font-size: 14px;
  color: #fff;
  background-color: #f13c6e;
  text-decoration: none;
  cursor: pointer;
}
.beauty .main .container .main__item .main__leader--prim {
  padding-bottom: 80px;
}
.beauty .main .container .main__item .main__stand {
  padding-bottom: 100px;
  gap: 30px;
  display: flex;
}
.beauty .main .container .main__item .main__stand .main__stand--item {
  width: 50%;
  padding: 35px 4% 35px 3.5%;
  background-color: #f13c6e;
  display: flex;
  align-items: center;
}
.beauty .main .container .main__item .main__stand .main__stand--item .main__stand--item--box {
  padding-right: 15%;
  display: flex;
  flex-direction: column;
}
.beauty .main .container .main__item .main__stand .main__stand--item .main__stand--item--box h2 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.beauty .main .container .main__item .main__stand .main__stand--item .main__stand--item--box span {
  width: 75%;
  padding: 25px 0;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.beauty .main .container .main__item .main__stand .main__stand--item .main__stand--item--box form input {
  padding: 9px 30px 9px 25px;
  border-radius: 30px;
  border-style: none;
  outline: 0;
  font-size: 14px;
}
.beauty .main .container .main__item .main__stand .main__stand--item .main__stand--item--box a {
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #fff;
  font-size: 14px;
  color: #fff;
  background-color: #f13c6e;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  width: -moz-min-content;
  width: min-content;
}
.beauty .main .container .main__item .main__stand .main__stand--item .main__stand--img--prim img {
  width: 100%;
}
.beauty .main .container .main__item .main__stand .main__stand--item .main__stand--img--addit img {
  width: 100%;
}
.beauty .main .container .main__item .main__stack {
  display: flex;
  flex-wrap: wrap;
}
.beauty .main .container .main__item .main__stack .main__stack--img-wrap {
  width: 25%;
  padding: 35px 6%;
  border: 1px solid #EFEFEF;
  background-color: #fff;
}
.beauty .main .container .main__item .main__stack .main__stack--img-wrap img {
  width: 100%;
}

.footer .footer__menu-wrap {
  padding: 60px 0;
}
.footer .footer__menu-wrap .footer__menu--list {
  display: flex;
  gap: 30px;
}
.footer .footer__menu-wrap .footer__menu--list .footer__menu--item {
  display: flex;
  flex-direction: column;
  flex: 255px;
}
.footer .footer__menu-wrap .footer__menu--list .footer__menu--item h3 {
  display: flex;
  flex-direction: column;
  padding: 0 0 30px 0;
  font-weight: 500;
}
.footer .footer__menu-wrap .footer__menu--list .footer__menu--item h3 span {
  flex: 23px;
}
.footer .footer__menu-wrap .footer__menu--list .footer__menu--item .footer__menu--list--inner {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  border-top: 1px solid #EFEFEF;
}
.footer .footer__menu-wrap .footer__menu--list .footer__menu--item .footer__menu--list--inner .footer__menu--item--inner {
  flex: 28px;
}
.footer .footer__menu-wrap .footer__menu--list .footer__menu--item .footer__menu--list--inner .footer__menu--item--inner a {
  font-size: 12px;
  text-decoration: none;
  color: #828282;
}
.footer .footer__connection-wrap .container {
  display: flex;
  justify-content: space-between;
}
.footer .footer__connection-wrap .container .footer__social--list {
  display: flex;
  padding: 38px 0;
  font-size: 0;
  gap: 20px;
}
.footer .footer__connection-wrap .container .footer__social--list .footer__social--item .footer__social--link {
  display: block;
  padding: 13px;
  border-radius: 50px;
  border: 2px solid #f13c6e;
}
.footer .footer__connection-wrap .container .footer__social--list .footer__social--item .footer__social--link .footer__social--img {
  height: 22px;
}
.footer .footer__connection-wrap .container .footer__social--list .footer__social--item .footer__social--link .youtube {
  fill: #f13c6e;
}
.footer .footer__connection-wrap .container .footer__contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer .footer__connection-wrap .container .footer__contacts .footer__contacts--link {
  text-decoration: none;
  color: #000;
}
.footer .footer__connection-wrap .container .footer__contacts .footer__contacts--btn {
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #f13c6e;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.footer .footer__privacy-wrap {
  background-color: #EFEFEF;
}
.footer .footer__privacy-wrap .container {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.footer .footer__privacy-wrap .container .footer__privacy--text {
  font-size: 12px;
  color: #828282;
}/*# sourceMappingURL=style.css.map */