@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 58%;
  margin: 0 auto;
}

.btn {
  transition: all 0.3s;
}

.header .nav {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #EFEFEF;
}
.header .nav .nav__list {
  display: flex;
  gap: 30px;
}
.header .nav .nav__list .nav__item .nav__link {
  display: block;
  margin: 17px 0;
  text-decoration: none;
  color: #333333;
}
.header .nav .nav__list .nav__item .nav__link:hover {
  text-decoration-line: underline;
  text-underline-offset: 4px;
}
.header .header__item {
  margin-bottom: 20px;
}
.header .header__item:last-child {
  margin-bottom: 0;
}
.header .header__item .container .info {
  display: flex;
  justify-content: space-between;
}
.header .header__item .container .info .info__item {
  display: flex;
  align-items: center;
  font-size: 0;
}
.header .header__item .container .info .info__item h1 {
  padding-left: 20px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3.5px;
  color: #f13c6e;
}
.header .header__item .container .info .info__item .info__link {
  padding-right: 40px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.header .header__item .container .info .info__item .info__btn {
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #f13c6e;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.header .header__item .container .info .info__item .info__btn:hover {
  background-color: #f13c6e;
  color: #fff;
}
.header .menu {
  display: flex;
  justify-content: center;
  border-top: 1px solid #EFEFEF;
}
.header .menu .menu__list {
  display: flex;
  gap: 40px;
}
.header .menu .menu__list .menu__item {
  padding: 30px 0;
}
.header .menu .menu__list .menu__item .menu__link {
  text-decoration: none;
  color: #000;
}
.header .menu .menu__list .menu__item .menu__link:hover {
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

.beauty .main {
  background-color: #EFEFEF;
}
.beauty .main .main__item .hero {
  position: relative;
  overflow: hidden;
}
.beauty .main .main__item .hero .hero__cont {
  width: 15%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 21%;
  display: flex;
  flex-direction: column;
}
.beauty .main .main__item .hero .hero__cont h2 {
  font-size: 48px;
  color: #fff;
}
.beauty .main .main__item .hero .hero__cont span {
  padding: 50px 0 30px 0;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.beauty .main .main__item .hero .hero__cont a {
  width: -moz-min-content;
  width: min-content;
  letter-spacing: 0.7px;
  transition: all 0.3s;
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #fff;
  font-size: 14px;
  color: #fff;
  background-color: #f13c6e;
  text-decoration: none;
  cursor: pointer;
}
.beauty .main .main__item .hero .hero__cont a:hover {
  color: #000;
  background-color: #fff;
}
.beauty .main .container .main__item .goods {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.beauty .main .container .main__item .goods h2 {
  padding: 80px 0 40px 0;
  font-size: 24px;
  font-weight: 700;
}
.beauty .main .container .main__item .goods .goods__list {
  gap: 30px;
  display: flex;
}
.beauty .main .container .main__item .goods .goods__list .goods__item {
  width: 25%;
  padding: 25px 0;
  gap: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.beauty .main .container .main__item .goods .goods__list .goods__item .goods__img {
  width: 125px;
  height: 165px;
}
.beauty .main .container .main__item .goods .goods__list .goods__item .goods__desc {
  padding: 0 30px;
  text-align: center;
  line-height: 20px;
}
.beauty .main .container .main__item .goods .goods__list .goods__item .goods__price {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 2px;
}
.beauty .main .container .main__item .goods .goods__list .goods__item a {
  letter-spacing: 0.7px;
  transition: all 0.3s;
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #f13c6e;
  font-size: 14px;
  color: #fff;
  background-color: #f13c6e;
  text-decoration: none;
  cursor: pointer;
}
.beauty .main .container .main__item .goods .goods__list .goods__item a:hover {
  color: #000;
  background-color: #fff;
}
.beauty .main .container .main__item .viewed {
  padding-bottom: 80px;
}
.beauty .main .container .main__item .services {
  padding-bottom: 100px;
  gap: 30px;
  display: flex;
}
.beauty .main .container .main__item .services .services__item {
  width: 50%;
  padding: 35px 4% 35px 3.5%;
  background-color: #f13c6e;
  display: flex;
  align-items: center;
}
.beauty .main .container .main__item .services .services__item .services__cont {
  padding-right: 15%;
  display: flex;
  flex-direction: column;
}
.beauty .main .container .main__item .services .services__item .services__cont h2 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.beauty .main .container .main__item .services .services__item .services__cont span {
  width: 75%;
  padding: 25px 0;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.beauty .main .container .main__item .services .services__item .services__cont form input {
  padding: 9px 30px 9px 25px;
  border-radius: 30px;
  border-style: none;
  outline: 0;
  font-size: 14px;
}
.beauty .main .container .main__item .services .services__item .services__cont a {
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  transition: all 0.3s;
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #fff;
  font-size: 14px;
  color: #fff;
  background-color: #f13c6e;
  text-decoration: none;
  cursor: pointer;
}
.beauty .main .container .main__item .services .services__item .services__cont a:hover {
  color: #000;
  background-color: #fff;
}
.beauty .main .container .main__item .services .services__item .services__img img {
  width: 100%;
}
.beauty .main .container .main__item .services .services__item .services__img--mod img {
  width: 100%;
}
.beauty .main .container .main__item .sponsors {
  display: flex;
  flex-wrap: wrap;
}
.beauty .main .container .main__item .sponsors .sponsors__logo {
  width: 25%;
  padding: 35px 6%;
  border: 1px solid #EFEFEF;
  background-color: #fff;
}
.beauty .main .container .main__item .sponsors .sponsors__logo img {
  width: 100%;
}

.footer .popular {
  padding: 60px 0;
}
.footer .popular .popular__list {
  display: flex;
  gap: 30px;
}
.footer .popular .popular__list .popular__item {
  display: flex;
  flex-direction: column;
  flex: 255px;
}
.footer .popular .popular__list .popular__item h3 {
  display: flex;
  flex-direction: column;
  padding: 0 0 30px 0;
  font-weight: 500;
}
.footer .popular .popular__list .popular__item h3 span {
  flex: 23px;
}
.footer .popular .popular__list .popular__item .popular__list--inner {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  border-top: 1px solid #EFEFEF;
}
.footer .popular .popular__list .popular__item .popular__list--inner .popular__item--inner {
  flex: 28px;
}
.footer .popular .popular__list .popular__item .popular__list--inner .popular__item--inner a {
  font-size: 12px;
  text-decoration: none;
  color: #828282;
}
.footer .popular .popular__list .popular__item .popular__list--inner .popular__item--inner a:hover {
  text-decoration-line: underline;
  text-underline-offset: 4px;
}
.footer .contacts .container {
  display: flex;
  justify-content: space-between;
}
.footer .contacts .container .socials {
  display: flex;
  padding: 38px 0;
  font-size: 0;
  gap: 20px;
}
.footer .contacts .container .socials .socials__item .socials__link {
  display: block;
  padding: 13px;
  border-radius: 50px;
  border: 2px solid #f13c6e;
}
.footer .contacts .container .socials .socials__item .socials__link .socials__img {
  height: 22px;
}
.footer .contacts .container .socials .socials__item .socials__link .youtube {
  fill: #f13c6e;
}
.footer .contacts .container .callback {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer .contacts .container .callback .callback__link {
  text-decoration: none;
  color: #000;
}
.footer .contacts .container .callback .callback__btn {
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #f13c6e;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.footer .contacts .container .callback .callback__btn:hover {
  color: #fff;
  background-color: #f13c6e;
}
.footer .privacy {
  background-color: #EFEFEF;
}
.footer .privacy .container {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.footer .privacy .container .privacy__text {
  font-size: 12px;
  color: #828282;
}/*# sourceMappingURL=style.css.map */