@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 58%;
  margin: 0 auto;
}

.btn {
  transition: all 0.3s;
}

.header .nav {
  width: 100%;
  background-color: #EFEFEF;
}
.header .nav .nav__list {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.header .nav .nav__list::after {
  content: "";
  clear: both;
  display: block;
}
.header .nav .nav__list .nav__item {
  margin-right: 30px;
  float: left;
}
.header .nav .nav__list .nav__item:last-child {
  margin-right: 0;
}
.header .nav .nav__list .nav__item .nav__link {
  display: block;
  padding: 17px 0;
  text-decoration: none;
  color: #333333;
}
.header .nav .nav__list .nav__item .nav__link:hover {
  text-decoration-line: underline;
  text-underline-offset: 4px;
}
.header .header__item {
  margin-bottom: 20px;
}
.header .header__item:last-child {
  margin-bottom: 0;
}
.header .header__item .container .info::after {
  content: "";
  clear: both;
  display: block;
}
.header .header__item .container .info .info__item {
  white-space: nowrap;
}
.header .header__item .container .info .info__item h1 {
  padding-left: 20px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3.5px;
  line-height: 80px;
  color: #f13c6e;
  float: right;
}
.header .header__item .container .info .info__item .info__link {
  padding-right: 40px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.header .header__item .container .info .info__item form {
  float: right;
}
.header .header__item .container .info .info__item form .info__btn {
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #f13c6e;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.header .header__item .container .info .info__item form .info__btn:hover {
  background-color: #f13c6e;
  color: #fff;
}
.header .header__item .container .info .info__item::after {
  content: "";
  clear: both;
  display: block;
}
.header .header__item .container .info .info__item:first-child {
  float: left;
}
.header .header__item .container .info .info__item:last-child {
  line-height: 80px;
  float: right;
}
.header .menu {
  border-top: 1px solid #EFEFEF;
}
.header .menu .menu__list {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.header .menu .menu__list::after {
  content: "";
  clear: both;
  display: block;
}
.header .menu .menu__list .menu__item {
  margin-right: 40px;
  padding: 30px 0;
  float: left;
}
.header .menu .menu__list .menu__item:last-child {
  margin-right: 0;
}
.header .menu .menu__list .menu__item .menu__link {
  text-decoration: none;
  color: #000;
}
.header .menu .menu__list .menu__item .menu__link:hover {
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

.beauty .main {
  background-color: #EFEFEF;
}
.beauty .main .main__item .hero {
  position: relative;
  overflow: hidden;
}
.beauty .main .main__item .hero .hero__cont {
  width: 15%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 21%;
}
.beauty .main .main__item .hero .hero__cont h2 {
  font-size: 48px;
  color: #fff;
}
.beauty .main .main__item .hero .hero__cont span {
  display: block;
  padding: 50px 0 30px 0;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.beauty .main .main__item .hero .hero__cont a {
  display: block;
  width: -moz-min-content;
  width: min-content;
  letter-spacing: 0.7px;
  transition: all 0.3s;
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #fff;
  font-size: 14px;
  color: #fff;
  background-color: #f13c6e;
  text-decoration: none;
  cursor: pointer;
}
.beauty .main .main__item .hero .hero__cont a:hover {
  color: #000;
  background-color: #fff;
}
.beauty .main .container .main__item .goods {
  padding-bottom: 100px;
}
.beauty .main .container .main__item .goods h2 {
  padding: 80px 0 40px 0;
  font-size: 24px;
  font-weight: 700;
}
.beauty .main .container .main__item .goods .goods__list {
  width: -moz-fit-content;
  width: fit-content;
}
.beauty .main .container .main__item .goods .goods__list::after {
  content: "";
  clear: both;
  display: block;
}
.beauty .main .container .main__item .goods .goods__list .goods__item {
  width: calc(25% - 21px);
  margin-right: 28px;
  padding: 25px 0;
  float: left;
  background-color: #fff;
}
.beauty .main .container .main__item .goods .goods__list .goods__item:last-child {
  margin-right: 0;
}
.beauty .main .container .main__item .goods .goods__list .goods__item * {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.beauty .main .container .main__item .goods .goods__list .goods__item .goods__img {
  width: 125px;
  height: 165px;
}
.beauty .main .container .main__item .goods .goods__list .goods__item .goods__desc {
  padding: 20px 30px;
  text-align: center;
  line-height: 20px;
}
.beauty .main .container .main__item .goods .goods__list .goods__item .goods__price {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 2px;
}
.beauty .main .container .main__item .goods .goods__list .goods__item a {
  letter-spacing: 0.7px;
  transition: all 0.3s;
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #f13c6e;
  font-size: 14px;
  color: #fff;
  background-color: #f13c6e;
  text-decoration: none;
  cursor: pointer;
}
.beauty .main .container .main__item .goods .goods__list .goods__item a:hover {
  color: #000;
  background-color: #fff;
}
.beauty .main .container .main__item .viewed {
  padding-bottom: 80px;
}
.beauty .main .container .main__item .services {
  padding-bottom: 100px;
}
.beauty .main .container .main__item .services::after {
  content: "";
  clear: both;
  display: block;
}
.beauty .main .container .main__item .services .services__item {
  position: relative;
  width: calc(50% - 14px);
  padding: 35px 4% 35px 3.5%;
  background-color: #f13c6e;
}
.beauty .main .container .main__item .services .services__item::after {
  content: "";
  clear: both;
  display: block;
}
.beauty .main .container .main__item .services .services__item:first-child {
  padding-bottom: 38px;
  float: left;
}
.beauty .main .container .main__item .services .services__item:last-child {
  float: right;
}
.beauty .main .container .main__item .services .services__item .services__cont {
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 15%;
  float: left;
}
.beauty .main .container .main__item .services .services__item .services__cont * {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.beauty .main .container .main__item .services .services__item .services__cont h2 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.beauty .main .container .main__item .services .services__item .services__cont span {
  width: 75%;
  padding: 25px 0;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.beauty .main .container .main__item .services .services__item .services__cont form input {
  padding: 9px 30px 9px 25px;
  border-radius: 30px;
  border-style: none;
  outline: 0;
  font-size: 14px;
}
.beauty .main .container .main__item .services .services__item .services__cont a {
  white-space: nowrap;
  width: -moz-min-content;
  width: min-content;
  transition: all 0.3s;
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #fff;
  font-size: 14px;
  color: #fff;
  background-color: #f13c6e;
  text-decoration: none;
  cursor: pointer;
}
.beauty .main .container .main__item .services .services__item .services__cont a:hover {
  color: #000;
  background-color: #fff;
}
.beauty .main .container .main__item .services .services__item .services__img {
  position: absolute;
  right: 40px;
}
.beauty .main .container .main__item .services .services__item .services__img img {
  max-width: 100%;
  height: auto;
}
.beauty .main .container .main__item .services .services__item .services__img--mod {
  position: absolute;
  right: 40px;
  padding-top: 23px;
}
.beauty .main .container .main__item .services .services__item .services__img--mod img {
  max-width: 100%;
  height: auto;
}
.beauty .main .container .main__item .sponsors::after {
  content: "";
  clear: both;
  display: block;
}
.beauty .main .container .main__item .sponsors .sponsors__logo {
  width: 25%;
  padding: 35px 6%;
  border: 1px solid #EFEFEF;
  float: left;
  background-color: #fff;
}
.beauty .main .container .main__item .sponsors .sponsors__logo img {
  width: 100%;
}

.footer .popular {
  padding: 60px 0;
}
.footer .popular .popular__list::after {
  content: "";
  clear: both;
  display: block;
}
.footer .popular .popular__list .popular__item {
  width: calc(25% - 21px);
  margin-right: 28px;
  float: left;
}
.footer .popular .popular__list .popular__item:last-child {
  margin-right: 0;
}
.footer .popular .popular__list .popular__item * {
  display: block;
}
.footer .popular .popular__list .popular__item h3 {
  padding: 0 0 30px 0;
  font-weight: 500;
}
.footer .popular .popular__list .popular__item .popular__list--inner {
  padding-top: 28px;
  border-top: 1px solid #EFEFEF;
}
.footer .popular .popular__list .popular__item .popular__list--inner .popular__item--inner {
  margin-bottom: 20px;
}
.footer .popular .popular__list .popular__item .popular__list--inner .popular__item--inner:last-child {
  margin-bottom: 0;
}
.footer .popular .popular__list .popular__item .popular__list--inner .popular__item--inner a {
  font-size: 12px;
  text-decoration: none;
  color: #828282;
}
.footer .popular .popular__list .popular__item .popular__list--inner .popular__item--inner a:hover {
  text-decoration-line: underline;
  text-underline-offset: 4px;
}
.footer .contacts .container {
  padding: 38px 0;
}
.footer .contacts .container::after {
  content: "";
  clear: both;
  display: block;
}
.footer .contacts .container .socials {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0;
  float: left;
}
.footer .contacts .container .socials::after {
  content: "";
  clear: both;
  display: block;
}
.footer .contacts .container .socials .socials__item {
  margin-right: 20px;
  float: left;
}
.footer .contacts .container .socials .socials__item:last-child {
  margin-right: 0;
}
.footer .contacts .container .socials .socials__item .socials__link {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 13px;
  border-radius: 50px;
  border: 2px solid #f13c6e;
}
.footer .contacts .container .socials .socials__item .socials__link .socials__img {
  height: 22px;
}
.footer .contacts .container .socials .socials__item .socials__link .youtube {
  fill: #f13c6e;
}
.footer .contacts .container .callback {
  width: -moz-fit-content;
  width: fit-content;
  line-height: 52px;
  float: right;
}
.footer .contacts .container .callback::after {
  content: "";
  clear: both;
  display: block;
}
.footer .contacts .container .callback .callback__link {
  margin-right: 40px;
  text-decoration: none;
  color: #000;
  float: left;
}
.footer .contacts .container .callback form {
  float: right;
}
.footer .contacts .container .callback form .callback__btn {
  padding: 10px 58px;
  border-radius: 40px;
  border: 2px solid #f13c6e;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.footer .contacts .container .callback form .callback__btn:hover {
  color: #fff;
  background-color: #f13c6e;
}
.footer .privacy {
  background-color: #EFEFEF;
}
.footer .privacy .container {
  padding: 25px 0;
}
.footer .privacy .container::after {
  content: "";
  clear: both;
  display: block;
}
.footer .privacy .container .privacy__text {
  font-size: 12px;
  color: #828282;
}
.footer .privacy .container .privacy__text:last-child {
  float: right;
}/*# sourceMappingURL=style.css.map */