.footer {
    .footer__item{

    }
    .footer__menu-wrap {
        padding: 60px 0;
        .footer__menu--list {
            display: flex;
            gap: 30px;
            .footer__menu--item {
                display: flex;
                flex-direction: column;
                flex: 255px;
                h3 {
                    display: flex;
                    flex-direction: column;
                    padding: 0 0 30px 0;
                    font-weight: 500;
                    p {
                        flex: 23px;
                    }
                }
                .footer__menu--list--inner {
                    display: flex;
                    flex-direction: column;
                    padding-top: 28px;
                    border-top: 1px solid $secondary-color;
                    .footer__menu--item--inner {
                        flex: 28px;
                        a {
                            font-size: 12px;
                            text-decoration: none;
                            color: #828282;
                        }
                    }
                }
            }
        }
    }
    .footer__connection-wrap {
        .container {
            display: flex;
            justify-content: space-between;
            .footer__social--list {
                display: flex;
                padding: 38px 0;
                font-size: 0;
                gap: 20px;
                .footer__social--item {
                    .footer__social--link {
                        display: block;
                        padding: 13px;
                        border-radius: 50px;
                        border: 2px solid $primary-color;
                        .footer__social--img {
                            height: 22px;
                        }
                        .youtube {
                            fill: $primary-color;
                        }
                    }
                }
            }
            .footer__contacts {
                display: flex;
                align-items: center;
                gap: 40px;
                .footer__contacts--link {
                    text-decoration: none;
                    color: $dark;
                }
                .footer__contacts--btn {
                    @include button($primary-color, $dark, $light)
                }
            }
        }
    }
    .footer__privacy-wrap {
        background-color: $secondary-color;
        .container {
            display: flex;
            justify-content: space-between;
            padding: 25px 0;
            .footer__privacy--text {
                font-size: 12px;
                color: #828282;
            }
        }
    }
}