.beauty {
    .main {
        background-color: $secondary-color;
        .main__item {
            .main__item__hero {
                position: relative;
                overflow: hidden;
                .main__item__hero__box {
                    width: 15%;
                    transform: translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 21%;
                    h2 {
                        font-size: 48px;
                        color: $light;
                    }
                    span {
                        display: block;
                        padding: 50px 0 30px 0;
                        font-size: 14px;
                        line-height: 20px;
                        color: $light;
                    }
                    a {
                        display: block;
                        width: min-content;
                        letter-spacing: .7px;
                        transition: all .3s;
                        @include button($light, $light, $primary-color);
                        &:hover {
                            color: $dark;
                            background-color: $light;
                        }
                    }
                }
            }
        }
        .container {
            .main__item {
                .main__item__leader {
                    padding-bottom: 100px;
                    h2 {
                        padding: 80px 0 40px 0;
                        font-size: 24px;
                        font-weight: 700;
                    }
                    .main__item__leader__box {
                        width: fit-content;
                        &::after{
                            @include clear_fix;
                        }
                        .main__item__leader__box__item {
                            width: calc(100% / 4 - 21px);
                            margin-right: 28px;
                            padding: 25px 0;
                            float: left;
                            background-color: $light;
                            &:last-child {
                                margin-right: 0;
                            }
                            * {
                                display: block;
                                width: fit-content;
                                margin: 0 auto;
                            }
                            img {
                                width: 125px;
                                height: 165px;
                            }
                            .main__item__leader__box__item__description {
                                padding: 20px 30px;
                                text-align: center;
                                line-height: 20px;
                            }
                            .main__item__leader__box__item__price {
                                margin-bottom: 20px;
                                font-size: 21px;
                                font-weight: 500;
                                letter-spacing: 2px;
                            }
                            a {
                                letter-spacing: .7px;
                                transition: all .3s;
                                @include button($primary-color, $light, $primary-color);
                                &:hover {
                                    color: $dark;
                                    background-color: $light;
                                }
                            }
                        }
                    }
                }
                .main__item__leader--prim {
                    padding-bottom: 80px;
                }
                .main__item__stand {
                    padding-bottom: 100px;
                    &::after {
                        @include clear_fix;
                    }
                    .main__item__stand__item {
                        position: relative;
                        width: calc(100% / 2 - 14px);
                        padding: 35px 4% 35px 3.5%;
                        background-color: $primary-color;
                        &::after {
                            @include clear_fix;
                        }
                        &:first-child {
                            padding-bottom: 38px;
                            float: left;
                        }
                        &:last-child {
                            float: right;
                        }
                        .main__item__stand__item__box {
                            width: fit-content;
                            padding-right: 15%;
                            float: left;
                            * {
                                display: block;
                                width: fit-content;
                            }
                            h2 {
                                font-size: 18px;
                                font-weight: 700;
                                color: $light;
                            }
                            span {
                                width: 75%;
                                padding: 25px 0;
                                font-size: 14px;
                                line-height: 20px;
                                color: $light;
                            }
                            form {
                                input {
                                    padding: 9px 30px 9px 25px;
                                    border-radius: 30px;
                                    border-style: none;
                                    outline: 0;
                                    font-size: 14px;
                                }
                            }
                            a {
                                white-space: nowrap;
                                width: min-content;
                                transition: all .3s;
                                @include button($light, $light, $primary-color);
                                &:hover {
                                    color: $dark;
                                    background-color: $light;
                                }
                            }
                        }
                        .main__item__stand__item__img--prim {
                            position: absolute;
                            right: 40px;
                            img {
                                max-width: 100%;
                                height: auto;
                            }
                        }
                        .main__item__stand__item__img--addit {
                            position: absolute;
                            right: 40px;
                            padding-top: 23px;
                            img {
                                max-width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
                .main__item__stack {
                    &::after {
                        @include clear_fix;
                    }
                    .main__item__stack__img--wrap {
                        width: calc(100% / 4);
                        padding: 35px 6%;
                        border: 1px solid $secondary-color;
                        float: left;
                        background-color: $light;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}